{% extends 'core/base.html' %}
{% load humanize %}

{% block titulo %}Detalle Proyecto Biblioteca{% endblock titulo %}

{% block contenido %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-bullhorn"></i>
                                <b>{{obj.nombre}}</b> 
                            </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="callout callout-danger">
                                <h3>Área</h3>
                                <p>{{obj.area}}</p>
                            </div>
                            <div class="callout callout-info">
                                <h3>Impacto</h3>
                                <p>{{obj.impacto}}</p>
                            </div>
                            <div class="callout callout-warning">
                                <h3>Presupuesto</h3>
                                <p>${{obj.presupuesto|intcomma}}</p>
                            </div>
                            <div class="callout callout-success">
                                <h3>Documento</h3>
                                <p>
                                    {% if obj.documento %}
                                        <a href="{{ obj.documento.url }}" target="_blank" class="text-primary">Ver documento</a>
                                    {% else %} 
                                        No hay documento
                                    {% endif %}

                                </p>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
        </div>
    </section>
</div>
{% endblock contenido %}