{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block titulo %}Eliminar Actividad{% endblock titulo %}

{% block contenido %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title">Eliminar Actividad</h3>
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    {{form|crispy}}
                                    <p>¿Deseas eliminar la actividad: <b>{{obj.nombre}}</b>?</p>
                                </div>
                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                                <a type="button" class="btn btn-primary" href="{% url 'graficos' %}">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock contenido %}