{% extends 'core/base.html' %}
{% load humanize %}
{% block titulo %}{{proyecto_macro.nombre}}{% endblock titulo %}
{% block contenido %}
{% load users_tags %}
{% total_users as tu %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-1">
            </div>
        </div>
    </section>
    <section class="content">
        <div class="card card-success">
            <div class="card-header">
                <h2 class="card-title">Detalle del proyecto Macro: <b>{{proyecto_macro.nombre}}</b> -
                    {{proyecto_macro.terminal}} </h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
                        <div class="row">
                            <div class="col-md-3 col-sm-12">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Fecha de Inicio</span>
                                        <span class="info-box-number text-center text-muted mb-0">{{proyecto_macro.fecha_inicio|date:"d-M-Y"}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Fecha Fin</span>
                                        <span class="info-box-number text-center text-muted mb-0">{{proyecto_macro.fecha_fin|date:"d-M-Y"}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Duración</span>
                                        <span class="info-box-number text-center text-muted mb-0">{{proyecto_macro.duracion}} días</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Costo Planeado</span>
                                            <span class="info-box-number text-center text-muted mb-0">${{proyecto_macro.valor_proyecto_planeado|intcomma}}</span>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-12">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Costo del Proyecto Estimado</span>
                                        <span class="info-box-number text-center text-muted mb-0">
                                            {% if valor_proyecto_macro.valor_proyecto__sum == None %}
                                                $0
                                            {% else %}
                                                ${{valor_proyecto_macro.valor_proyecto__sum|intcomma}}
    
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                            </div>
                            
                            <div class="col-md-3 col-sm-12">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Facturación</span>
                                        <a href="{% url 'detalle_costos_macro' proyecto_macro.id %}" class="info-box-number text-center text-primary mb-0">Ver pagos</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-3 col-sm-12">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Interventoria</span>
                                        <span class="info-box-number text-center text-muted mb-0">
                                            {% if proyecto.interventoria %}
                                            SI
                                            {% else %}
                                            NO
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Documentos</span>
                                        <a href="{% url 'detalle_doc_macro' proyecto_macro.id %}" class="info-box-number text-center text-primary mb-0">Ver
                                            documentos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-12">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Estado</span>
                                        <span class="info-box-number text-center text-muted mb-0">
                                            {% if proyecto_macro.estado == 'EJ' %}
                                            <span class="badge badge-info">En ejecución</span>
                                            {% endif %}
                                            {% if proyecto_macro.estado == 'F' %}
                                            <span class="badge badge-success">Finalizado</span>
                                            {% endif %}
                                            {% if proyecto_macro.estado == 'S' %}
                                            <span class="badge badge-warning">Suspendido</span>
                                            {% endif %}
                                            {% if proyecto_macro.estado == 'C' %}
                                            <span class="badge badge-danger">Cancelado</span>
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h2>Descripción del Proyecto Macro</h2>
                                <div class="post">
                                    <p>{{proyecto_macro.descripcion}}</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="card card-info">
                            <div class="card-header">
                                <h2 class="card-title">Listado de Sub Proyectos</h2>
                            </div>
                            <div class="card-body p-1">
                                <div class="table-responsive">
                                    <table class="table table-striped projects ">
                                        <thead>
                                            <tr class="text-center">
                                                <th>Nombre Proyecto</th>
                                                <th>Ejecución</th>
                                                <th>Controles</th>
                                                <th>Creado Por</th>
                                                <th>Actualizado Por</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for p in proyectos_del_macro %}
                                            <tr class="text-center">
                                                <td><a href="{% url 'detalle_proyecto' p.pk %}">{{p.nombre}}</a></td>
                                                <td class="project_progress">
                                                    <small>
                                                        {% if p.programado == None %}
                                                            Programado 0,0%
                                                        {% else %}
                                                            Programado {{p.programado}}%
                                                        {% endif %}
                                                    </small>
                                                    <div class="progress progress-sm">
                                                        <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="57"
                                                            aria-valuemin="0" aria-valuemax="100"
                                                            style="width: {{p.programado|safe}}%">
                                                        </div>
                                                    </div>
        
                                                    <div class="progress progress-sm">
                                                        <div class="progress-bar bg-orange" role="progressbar"
                                                            aria-valuenow="57" aria-valuemin="0" aria-valuemax="100"
                                                            style="width: {{p.avance|safe}}%">
                                                        </div>
                                                    </div>
                                                    <small>
                                                        {% if p.avance == None %}
                                                            Ejecutado 0,0%
                                                        {% else %}
                                                            Ejecutado {{p.avance}}%
                                                        {% endif %}
                                                    </small>
                                                </td>
                                                <td>
                                                    <a class="btn btn-info btn-sm mb-1" href="{% url 'editar_proyecto' p.pk %}">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </a>
                                                    <a class="btn btn-danger btn-sm mb-1" href="{% url 'borrar_proyecto' p.pk %}">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </td>
                                                <td>{{p.uc}} el {{p.creado|date:"d-M-Y"}}</td>
                                                <td>
                                                    {% with um=p.um %}
                                                        {% if um == None %}
                                                            Aún no se actualiza
                                                        {% else %}
                                                            {% for u in tu %}
                                                                {% if u.id == um %}
                                                                    {{u.username}} el {{p.actualizado|date:"d-M-Y"}}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endwith %}
                                                </td>
                                            </tr>
                                            {% empty %}
                                                <p>No se han creado sub proyectos</p>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock contenido %}