{% extends 'core/base.html' %}

{% block titulo %}Ingresar{% endblock titulo %}
    
{% block login %}
<div class="container">
    <div class="login-box mx-auto mt-3">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="{% url 'home' %}" class="h1 text-success"><b>AppGranel</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg h4">Iniciar sesión</p>

                <form action="" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="uername" class="form-control" placeholder="Usuario" name="username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña" name="password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <p class="m-1 text-center">
                    <a href="{% url 'password_reset' %}">Recuperar Contraseña</a>
                </p>
                
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
{% endblock login %}
    