{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block titulo%}Recuperar tú Contraseña{% endblock %}

{% block index %}
<div class="container mt-3">
    <div class="card card-primary">
        {% if validlink %}
        <div class="card-header text-center">
            <a href="{% url 'home' %}" class="h3"><b>AppGranel</b></a>
        </div>
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-info btn-block">Recuperar Contraseña</button>
            </form>
        </div>
    </div>
    {% else %}
        <p>El enlace de restablecimiento de contraseña no era válido, posiblemente porque tiene
        ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña</p>
    {% endif %}
</div>
{% endblock %}