{% extends 'core/base.html' %}

{% block titulo%}Cambio Contraseña{% endblock %}

{% block index %}
    <div class="container mt-3">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">Cambiar contraseña</h3>
            </div>
                <div class="card-body">
                    <p>Su contraseña ha sido establecida. Usted puede Inicia sesión ahora</p>
                    <a href="{% url 'login' %}">Inicar sesión</a>
                </div>
        </div>
    </div>
{% endblock %}