{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block titulo%}Recuperar tú Contraseña{% endblock %}

{% block login %}

<div class="container">
    <div class="login-box mx-auto mt-3">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <h4 class="card-title text-center">Ingresa tu e-mail para recupear tu contraseña</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary btn-block">Recuperar Contraseña</button>
                </form>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}