{% extends 'core/base.html' %}
{% load humanize %}
{% block titulo %}Listado pagos proyectos{% endblock titulo %}
{% block contenido %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
            </div>
        </div>
    </section>
    <section class="content">
        <div class="card card-primary">
            <div class="card-header">
                <h2 class="card-title">Listado Pagos Proyectos</h2>
            </div>
            <div class="card-body p-1">
                <div class="table-responsive">
                    <table class="table table-striped projects ">
                        <thead>
                            <tr class="text-center">
                                <th style="width: 30%">Nombre Proyecto</th>
                                <th style="width: 20%">Pago</th>
                                <th style="width: 20%">Terminal</th>
                                <th style="width: 20%">Fecha Pago</th>
                                <th style="width: 10%">Controles</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in pagos %}
                                <tr class="text-center">
                                    <td>{{p.proyecto}}</td>
                                    <td>${{p.valor_pago|intcomma}}</td>
                                    <td>
                                        {% if p.proyecto.terminal == 'BUN' %}
                                            <span style="color: #ff851b;"><b>Buenaventura</b></span>
                                        {% endif %}
                                        {% if p.proyecto.terminal == 'CTG' %}
                                            <span style="color: #6610f2;"><b>Cartagena</b></span>
                                        {% endif %}
                                        {% if p.proyecto.terminal == 'BOG' %}
                                            <span style="color: #022c0c;"><b>Bogotá</b></span>
                                        {% endif %}
                                        {% if p.proyecto.terminal == 'GLB' %}
                                            <span style="color: blue;"><b>Global</b></span>
                                        {% endif %}
                                    </td>
                                    <td>{{p.fecha_pago|date:"d-M-Y"}}</td>
                                    <td>
                                        <a class="btn btn-success btn-sm mb-1" href="{% url 'detalle_proyecto' p.proyecto.id %}">
                                            <i class="fas fa-folder"></i>
                                            Ver
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock contenido %}